# npm
node_modules
package-lock.json
npm-shrinkwrap.json
dist/
*.log
*.gz
# env
.env 
# Coveralls
.nyc_output
coverage
#DS
.DS_Store
# Benchmarking
benchmarks/graphs
#build
dist
# ignore additional files using core.excludesFile
# https://git-scm.com/docs/gitignore